:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-background-color: #2F303A;
    --background-color:#F5F5F5;
    --hero-title-color: #FFFFFF;
    --button-studia: #188CE8;
    --workersection: #F5F4FA;
    --border-color: #eeeeee;
    --portfolio-line: #ECECEC;
    --icons-color:#afb1b8;
    --icons-bg-color: rgba(255, 255, 255, 0.1);
    
}
body{
    background-color: var(--hero-title-color);
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}

/* До вссього проекту*/

ul {
    list-style: none;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Logotype*/

.logo{
    color: var(--accent-color);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}
.logo-style{
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    text-decoration: none;
}

/*Navigation*/

.main-nav{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    margin-left: 93px;
    align-self: center;
}
.contacts{
    margin-left: auto;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
}
.site-nav .item + .item{
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    text-decoration-line: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.2;
}
.site-nav .contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    text-decoration-line: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.site-nav .contact:hover,
.site-nav .contact:focus{
    color: var(--accent-color);
}
.contacts-icon{
    margin-right: 10px;  
    fill: currentColor;
}
/*Hero index*/

.hero{
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    background-color: var(--hero-background-color);
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.herotb{
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.3; 
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--button-studia);
    color: var(--hero-title-color);
}

/*Feature Переваги*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.feature-list {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.feature-list .item {
    width: 270px;
}
.feature-list .item+.item {
    margin-left: 30px;
}
.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.feature-list .discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 0;
    margin-top: 0;
}
.feature-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;  
    background-color: var(--third-bg-color);
    border-radius: 4px;
        
}
/*About Про нас*/

.section-do{
    padding-top: 0;
}
.about-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
}
.do-list{
    display: flex;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 50px;

}
.do-list .item {
    background-color: var(--hero-title-color);
}
.do-list .item + .item{
    margin-left: 30px;
}

/*Worker Працівники*/

.worker-section{
    background-color: var(--workersection);
    padding-bottom: 94px;
    padding-top: 94px;
}
.workerbcolor{
    padding: 30px 32px;
    background-color: var(--hero-title-color);
}
.workerbcolor .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.workerbcolor .value{
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.worker{
    display: flex;
    justify-content: space-between;
    padding-left: 0; 
}
.worker .item-work{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}
.worker .item-work + .item-work{
    margin-left: 30px;
}

.icons-list{
    display: flex;
    align-items: center;
}
.icons-list .item{
    width: 44px;
    height: 44px;

}
.social-links{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.social-links.primary {
    color: var(--icons-color);
}

.social-links.secondary {
    color: var(--hero-title-color);
    background-color: var(--icons-bg-color);
}

.social-links.primary:hover,
.social-links.primary:focus {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
}

.social-links.secondary:hover,
.social-links.secondary:focus {
    background-color: var(--accent-color);
}

.social-icons {
    fill: currentColor;
}

/*Klienty*/

.clients-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    color: var(--icons-color);

    border: 1px solid var(--icons-color);
    border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);

    border-color: var(--accent-color);
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    color: var(--icons-color);

    border: 1px solid var(--icons-color);
    border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);

    border-color: var(--accent-color);
}

.client-icon {
    fill: currentColor;
}

/*Portfolio*/

.header {
    border-bottom: 1px solid var(--portfolio-line);
}

.btn-list {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.btn-list .item+.item {
    margin-left: 8px;
}

.button {
    color: var(--title-text-color);
    background-color: var(--background-color);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    margin-top: 50px;
}

.item-img {
    width: 370px;
    margin: 15px;
    display: block;
    max-width: 100%;
    height: auto
}

.example-pictures {
    display: block;
}

.projects-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    letter-spacing: 0.03em;
    margin-top: 0;
}

.projects-list .discription {
    font-size: 16px;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.projects-discription {
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
}

/*footer i*/

.footer {
    background-color: var(--hero-background-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: auto;
    text-decoration: none;
    margin-top: 20px;
}

.logtype {
    color: var(--hero-title-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: auto;
}
.addresses-container {
    min-width: 231px;
}
.addresses-list{
    margin-top: 20px;
    text-decoration: none;
}
.addresses-list>.item:not(:last-child) {
    margin-bottom: 9px;
}

.addresses-list .address,
.addresses-list .contact {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}

.addresses-list .address {
    color: var(--hero-title-color);
}

.addresses-list .contact {
    color: var(--hero-title-color);
}

.addresses-list .contact:hover,
.addresses-list .contact:focus {
    color: var(--accent-color);
}
.social-container {
    margin-left: 70px;
}
.icon-list {
    display: flex;
    align-items: center;
}

.icon-list .item {
    width: 44px;
    height: 44px;

}
.icon-list .item:not(:last-child) {
    margin-right: 10px;
}

.add {
    display: inline-block;
    margin-bottom: 20px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

